* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
    z-index: 100;
}
h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
}


.logo {
   
    height: 70px;
    margin-left: 20px;
   
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}
.nav-links a:hover {
    transform: translateY(-5px);
    color:#c32727;
    scale: 0.3;
}

/* HERO */
.hero {
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}

.slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

/* TEXT ANIMATION */
.content {
    position: absolute;
    bottom:3%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: #fff;
    animation: textAnim 1.2s ease;
}

@keyframes textAnim {
    from {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -40%);
    }
}

.content h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.content a {
    padding: 14px 38px;
    background: #e10600;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}

/* ARROWS */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

.arrow.left { left: 30px; }
.arrow.right { right: 30px; }

/* DOTS */
.dots {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dots span {
    width: 12px;
    height: 12px;
    background: #aaa;
    border-radius: 50%;
    cursor: pointer;
}

.dots span.active {
    background: #e10600;
}
section.rangecar {
    display: flex;
    justify-content: center;
}
.about-stats {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 30px;
    margin: 30px;
}

.stat {
    text-align: center;
    padding: 10px;
    /* background: #e10600; */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.stat:hover {
    transform: translateY(-5px);
}

.stat i {
    font-size: 2.5rem;
    color: #e10600;
    margin-bottom: 30px;
}

.stat h4 {
    font-size: 2rem;
    color:#e10600;
    margin-bottom: 5px;
}



/* MOBILE */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #524d4d;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .content h1 {
        font-size: 40px;
    }
}
    
    
   